           @import url('static/css/style.css');
/* 全局样式 */
:root {
    --primary: #8ab929;
    --secondary: #edaf34;
    --bg-light: #f8f9fa;
    --text-dark: #333333;
    --text-light: #ffffff;
    --transition: all 0.3s ease;
}

body {
    font-family: 'Noto Sans SC', Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    line-height: 1.6;
    color: var(--text-dark);
    padding-top: 65px; /* 为固定导航栏添加顶部内边距 */
}


.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 6.5px;
}

/* 导航栏样式 */
.navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    transition: var(--transition);
}

.navbar-brand img {
    max-height: 35px;
    width: auto;
}

.nav-link {
    color: var(--text-dark) !important;
    font-weight: 500;
    transition: var(--transition);
    font-size: 1.2rem;
}

.nav-link:hover, .nav-link:focus {
    color: var(--primary) !important;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 6px;
}

/* 按钮样式 */
.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--text-light);
    padding: 10px 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: var(--transition);
}

.btn-primary:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* 新闻中心特定样式 */
.news-header {
    background-color: var(--bg-light);
    padding: 2rem 0;
    margin-bottom: 2rem;
}

.policy-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: var(--transition);
    border: none;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.policy-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.policy-image {
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.policy-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.policy-summary {
    flex-grow: 1;
}

.policy-card .card-title {
    color: var(--primary);
    font-weight: 600;
    font-size: 1.1rem;
}

.policy-card p {
    font-size: 0.9rem;
}

/* 响应式调整 */
@media (max-width: 768px) {
    .policy-image {
        height: 200px;
    }
}

/* 底部样式 */
footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
}

footer a {
    color: #edaf34;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #8ab929;
}


/* 社交链接样式 */
.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 0.9rem;
}

.social-icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin: 0 10px;
}

.divider {
    width: 1px;
    height: 30px;
    background-color: var(--text-light);
}

@media (max-width: 768px) {
    .social-icon {
        width: 20px;
        height: 20px;
    }
}

